@tailwind base;
@tailwind components;
@tailwind utilities;



::-webkit-scrollbar{
   width: 8px;
   background-color: rgb(24 24 27);
}




 ::-webkit-scrollbar-thumb{
    background-color: rgb(227, 227, 231);
    width: 20px;
    border-radius: 10px;
} 

